<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>設定</title>
    <link rel="stylesheet" href="setting.css">
</head>
<body>
    <div class="settings-container">
        <h1>設定</h1>

        <h2>ファイル設定</h2>
        <div>
            <label for="reload-file">前回読み込んだファイルを再度読み込む:<input type="checkbox" id="reload-file" name="reload-file" value="enable"></label>
        </div>
        <div>
            <label for="chat-retention">チャット機能の保持期間（日数）:<input type="number" id="chat-retention" min="0" placeholder="0の場合無限に保存"></label>
            </select>
        </div>

        <h2>リマインド設定</h2>
        <div>
            <label for="remind-enabled">リマインドを有効にする:
                <input type="checkbox" id="remind-enabled" name="remind-enabled">
            </label>
            <div id="remind-settings" style="display: none; margin-left: 20px; margin-top: 10px;">
                
                <div id="remind-options" style="margin-top: 10px;">
                    <label>リマインド時間:</label><br>
                    <label><input type="radio" name="remind-time" value="0"> スケジュールと同時にリマインド</label><br>
                    <label><input type="radio" name="remind-time" value="5"> 5分前</label><br>
                    <label><input type="radio" name="remind-time" value="10"> 10分前</label><br>
                    <label><input type="radio" name="remind-time" value="30"> 30分前</label><br>
                    <label><input type="radio" name="remind-time" value="custom"> カスタム</label>
                    <div id="custom-time-container" style="display: none; margin-left: 20px; margin-top: 5px;">
                    <input type="number" id="custom-remind-time" min="1" placeholder="分で入力">
                </div>
                </div>
            </div>
        </div>

        <h2>表示設定</h2>
        <div>
            <label for="theme">テーマカラー:</label>
            <select id="theme">
                <option value="dark">Dark</option>
                <option value="light">Light</option>
            </select>
                <label for="load-weather">天気を読み込む:</label><input type="checkbox" id="load-weather" name="load-weather" value="enable">
        </div>
        
        
        <div>
            <button id="apply-settings">設定を適用</button>
        </div>
    </div>
    <script src="../renderer/setting.js"></script>
</body>
</html>
